<h1 class="mb-4">Invoices</h1>

<div class="mb-4">
  <%= form_with url: invoices_path, method: :get, local: false, class: "row g-3", data: { controller: "live-filter", live_filter_target: "form", turbo_frame: "invoices" } do |f| %>
    <div class="col-auto">
      <%= f.select :confirmed, [["All", nil], ["Confirmed", "true"]], { selected: params[:confirmed] || "true" }, class: "form-select", data: { action: "change->live-filter#submit" } %>
    </div>
    <div class="col-auto">
      <%= f.select :shipping, [["All", nil], ["Shipping", "true"], ["Other", "false"]], { selected: params[:shipping] || "true" }, class: "form-select", data: { action: "change->live-filter#submit" } %>
    </div>
    <div class="col-auto">
      <%= f.select :ap_or_ar, [["All", nil], ["AP", "ap"], ["AR", "ar"]], { selected: params[:ap_or_ar] || "ap" }, class: "form-select", data: { action: "change->live-filter#submit" } %>
    </div>
    <div class="col-auto">
      <%= f.select :view_mode, [["Card", "card"], ["Grid", "grid"]], { selected: params[:view_mode] || "card" }, class: "form-select", data: { action: "change->live-filter#submit" } %>
    </div>
    <div class="col-auto">
      <%= f.select :has_shipment_no, [["All", nil], ["With Shipment Number", "true"]], { selected: params[:has_shipment_no] || "false" }, class: "form-select", data: { action: "change->live-filter#submit" } %>
    </div>
    <div class="col-auto">
      <%= f.text_field :search, value: params[:search], placeholder: "Search invoices", class: "form-control", data: { action: "input->live-filter#submit" } %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "invoices" do %>
  <% if params[:view_mode] == "grid" %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Invoice #</th>
            <th>Description</th>
            <th>Total</th>
            <th>Payment Terms</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
            <tr class="border-bottom">
              <td><%= document.invoice_content['invoice_number'] %></td>
              <td><%= document.invoice_content['description'] %></td>
              <td><%= number_to_currency(document.invoice_content['total']) %></td>
              <td><%= document.invoice_content['payment_terms'] %></td>
              <td>
                <%= link_to "View Original", rails_blob_path(document.file, disposition: "inline"), target: "_blank", class: "btn btn-sm btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row">
      <div class="col-12">
        <% @documents.each do |document| %>
          <div class="card mb-3">
            <%= render partial: "invoice_card", locals: { document: document } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
